*{
    background-color: #ffffff;
    margin-top: 0px;
    padding: 0;
    font-family: Arial, sans-serif;
}
.main_container{
    text-align: center;
    padding: 20px;

   
}
h1{
    font-family: Manrope;
font-size: 70px;
font-weight: 800;
line-height: 106px;
text-align: center;
color: #1F2A47;
}
h1 span{
    font-family: Manrope;
font-size: 70px;
font-weight: 800;
line-height: 106px;
text-align: center;
color: #31DE9E;
}
.image_grid{
    display: grid;
    padding: 22px 48px 22px 49px;
    gap: 57px;
    border-radius: 10px 0px 0px 0px;
    grid-template-columns: repeat(5, 1fr);
    background-color: #1F2A47;
}
.image_grid img{
        width: 100%; 
        height: auto; 
        border-radius: 10px;
}
.submit_button{
    align-items: center;
   background: #1F2A47;
   padding: 12px 32px 12px 32px;
   margin: 40px 20px;
   border-radius: 8px;
color: white;
font-weight: 700;
}
.submit_buttn{
    align-items: center;
   background: #1F2A47;
   padding: 12px 32px 12px 32px;
   /* margin: 40px 20px; */
   border-radius: 8px;
color: white;
font-weight: 700;
}
.submit_button img{
    width: 16px;
    height: 21.33px;
    top: 0.67px;
    left: 4px;
    gap: 0px;
    
    opacity: 0px; 
}
h2{
    font-family: Manrope;
font-size: 35px;
font-weight: 700;
line-height: 68.3px;
text-align: center;
color: #111727;
margin-top: 100px;
}
h2 span{
    font-family: Manrope;
font-size: 50px;
font-weight: 700;
line-height: 68.3px;
text-align: center;
color: #0DBA67;
}
h3{
    font-family: Manrope;
font-size: 30px;
font-weight: 700;
line-height: 36px;
text-align: left;
color: #111727;
}
h3 span{
    font-family: Manrope;
font-size: 30px;
font-weight: 700;
line-height: 36px;
text-align: left;
color: #0DBA67;
}
.love-workd{
    background: #1F2A47;
    padding: 20px;

}
.love-item{
    border-radius: 20px;
    padding: 53px 6px 53px 6px;
}
.s-button-wait{
    background-color: #1F2A47;
    color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    height: fit-content;
    width: fit-content;
    justify-content: right;
    margin-left: 20px;
    font-size: 14px;
    font: Manrope;
}
.button-wait{
    background-color: #ffffff;
    color: #1F2A47;
    font: Manrope;
    justify-content: right;
    padding: 18px;
    border-radius: 8px;
    height: fit-content;
    width: fit-content;
    margin-left:20px ;

}
.reg-form{
    border-radius: 40px;
    border-bottom: solid black;
    border-width: 0.5px;
    border-top: none;
    border-radius: 0px;
    border-left: none;
    border-right: none;
}
.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
    margin-top: 25px;
    margin-bottom: 50px;
  }
  
  .navbar ul {
    display: flex;
  }
  
  .navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
  }
  
  .navbar ul a:hover {
    border-bottom: 2px #fff solid;
  }
  
  .navbar .flex {
    justify-content: space-between;
  }


@media (max-width: 1000px) {
    .features {
            flex-direction: column;
            gap: 40px;
            /* background-color: pink; */
    
        }
        .feature{
width: 100%;
        }
                 .lovearrange {
                     width: 100%
                 }
}
@media (min-width: 1000px) {
    .features {
        flex-direction: row;
        gap: 5%
        /* background-color: pink; */
        
    }
        .feature {
            width: 40%;
        }
        .lovearrange{
            width:25%
        }

}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}
